<%= form_with(model: exercise) do |form| %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="form-group">
    <%= form.label :sets %>
    <%= form.number_field :sets %>
  </div>

  <div class="form-group">
    <%= form.label :reps %>
    <%= form.number_field :reps %>
  </div>

  <%= form.submit class: "btn btn-primary" %>

<% end %>
