<h1>Exercises</h1>

<%= link_to "New Exercise", new_exercise_path, class: "btn btn-primary" %>

<br><br>

<% @exercises.each do |exercise| %>
  <div class="card">
    <h3><%= exercise.name %></h3>
    <p>Weight: <%= exercise.weight %></p>
    <p>Sets: <%= exercise.sets %></p>
    <p>Reps: <%= exercise.reps %></p>

    <%= link_to "View", exercise, class: "btn btn-primary" %>
  </div>
<% end %>
